body {
  background-color: rgb(2, 1, 8);
  color: rgba(255, 253, 253, 0.902);
  padding: 1em 0;
}
hr {
  max-width: 50%;
}
footer {
  text-align: center;
  padding-bottom: 40px;
  font-size: 16px;
}
li {
  flex: 1;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  transition: all 0.5s ease-out;
}
nav a:hover {
  text-decoration: underline;
}
i {
  font-size: 60px;
  padding: 15px;
}
h4, h5 {
  color: rgb(167, 164, 164);
}
h5 {
  font-size: 1000px;
}
p {
  color: rgba(185, 183, 183, 0.893);
  font-weight: 100;
  font-size: 20px;
}

.header {
  margin-left: 90px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
}
/*Header Section*/

.myLogo {
  margin: 40px;
  flex: 1;
  color: #fff;
  border: 1px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.themeToggle{
  margin-right: 40px;
  font-weight: 400;
  color: #fff;
  border: 1px solid;
  padding: 0.5rem;
  transition: all 0.5s ease-out;
}
.myLogo:hover,
.myLogo:focus {
  background-color: #fff;
  color: #333;
}
.nameContainer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  padding-top: 200px;
  background-image: url(https://images.unsplash.com/photo-1673063609912-a004549c6732?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80);
  background-size: cover;
  animation-duration: 3s;
  animation-name: slidein;
}
.myName {
  font-size: 90px;
}
.myDescription {
  font-size: 30px;
}
/*Projects Section*/

.projectPic {
  border-radius: 35px;
  max-width: 100%;
  padding: 30px;
}

.projectContainer {
  display: flex;
  align-items: center;
  padding: 40px;
  padding-top: 2px;
}
.project {
  flex: 1;
  max-width: 50%;
  text-align: center;
  margin: 0 70px 0 80px;
}
aside {
  padding: 70px;
  font-weight: 150;
  font-size: 20px;
}

/*About Me Section*/
.aboutMe {
  padding-top: 100px;
}
.bio {
  font-size: 25px;
  text-align: center;
  font-weight: 200;
  padding: 0 200px 70px 200px;
  letter-spacing: 1px;
  margin: 0 60px 0 60px;
}

/*Skills Section*/
.skills {
  padding-top: 30px;
}
.skillsContainer {
  overflow: hidden;
  text-align: center;
}
.mySkills {
  float: left;
  border-radius: 10px;
  width: 33.33%;
}

/*Contact Me Section*/
.contactMe {
  padding-top: 40px;
}
.contactParagraph {
  color: black;
  font-size: 30px;
  text-align: center;
  font-weight: 200;
  padding: 0 200px 30px 200px;
  letter-spacing: 1px;
}

.email{
  margin-left: 140px;
  font-size: 30px;
  font-weight: 500;
  color: black;
}

.bottom {
  background-color: white;
  overflow: hidden;
  color: black;
 
}
.contactIcons {
  text-align: center;
  padding-bottom: 40px;
}

/* projects */
@media screen and (max-width: 500px) {
  .projectPic {
    width: 100%;
  }
}

.projectPic:hover {
  opacity: 0.7;
}
button a {
  color: #fff;
}

button a:hover {
  text-decoration: none;
  color: black;
}
button {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 30px;
  border: 0;
  font-size: 17.5px;
  border: 2px solid transparent;
  border-color: rgba(255, 253, 253, 0.902);
  color: rgba(255, 253, 253, 0.902);
  background: transparent;
  font-weight: 800;
  line-height: 30px;
  transition: background, color 0.6s ease-in-out;
}
button:hover {
  background-color: rgba(255, 253, 253, 0.902);
  color: black;
  transition: 0.7s ease-in-out;
}
.emojify::before {
  content: '😎 🤓';
}


@media (min-width: 768px) {
  button {
    min-width: 170px;
  }
}
Add Animation to name container*/ .modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 800px) {
  .projectPic {
    max-width: 100%;
    padding: 30px;
  }

  .projectContainer {
    display: inline-block;
    align-items: center;
    padding: 20px;
  }
  .project {
    flex-basis: content;
    max-width: 100%;
  }
  aside {
    display: none;
    padding: 30px;
    font-weight: 150;
    font-size: 20px;
  }

  i {
    font-size: 30px;
  }

  p {
    margin: 0;
    padding: 10px;
    font-size: 20px;
  }
  .aboutMe {
    padding-top: 50px;
  }
  .nameContainer {
    animation-name: none;
  }
  nav {
    padding: 20px;
    animation-duration: 3s;
    animation-name: slidein;
    display: none;
  }
  .bio{
    font-size: 18px;
    margin: 0;
    padding: 30px;
  }
  
}

@keyframes slidein {
  from {
    margin-bottom: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.dark{
  background-color: whitesmoke;
  color: black;
}
.dark .nameContainer {

  background-image: url(https://media.istockphoto.com/id/1429485637/photo/abstract-blurred-modern-interior-domestic-office-with-electronic-lamp-light-of-background-for.jpg?s=612x612&w=0&k=20&c=RobNviqQVEcvZBRGmviYO2tt-BTMPIkJZw6GdZdFG0Q=);
}

.dark a {
  color: black;
}
.dark, button a{
  color: black;
}

.dark h5{
  color: black !important;
}
.dark h4{
  color: black;
}
.dark button{
  color: black;
  border-color: black;
  font-size: 17.5px;
  font-weight: 300;
}
.dark button:hover{
  background-color: black;
  color: white;
}
.dark p{
  color: black;
}
.dark .bottom{
  background-color: #bdd0d9;
}

.hamburger{
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: rgba(255, 253, 253, 0.902);
  cursor: pointer;
  float: right;
}
/* Responsive styles */
@media (max-width: 768px) {
  .hamburger {
   display: inline;
  }
  nav.transparent ul.right {
    flex-direction:column;
    width: 30%;
    display: none; /* Hide the menu by default */
  }

  nav.transparent ul.right.active {

    display:flex; /* Show the menu when active */
  }
.top{
  margin-top: 50px;
}

  button.themeToggle {
    display: none;
  }
}