body{background-image: linear-gradient(to right, cyan , blue);
}
/*Navigation Bar*/
.Navbar{
    display:flex;
    justify-content: center; 
    background-color: rgba(255, 255, 255, 0.469);
}
/*Landing Component*/
.Landing{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
h5 {
    font-size: 100px;
}
h3{
    font-size: 30px;
}